/* Reset des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    background-image: url("FondPokedex.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Optionnel : pour figer l'image pendant le défilement */
}
  
  
  /* Styles pour la vidéo */
  .video-container {
    margin-top: 50px;
    text-align: center;
  }
  
  /* Styles pour le bouton de téléchargement */
  .download-btn {
    text-align: center;
    margin-top: 20px;
  }
  
  .download-btn a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
  }
  
  /* Styles pour le footer */
  footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 0 auto;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #333;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
  }

#down:hover{
    background-color: #8d269a;
}

.insta:hover{
    transform: scale(125%);
}


 #menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}